<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a75cd4408e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Car Price Predictor</title>
</head>

<body>
    <div class="container-fluid  bg-dark">
        <h1 class="header text-light border-bottom border-danger pb-4 pt-3">Car Price Predictor <i class="fa-solid fa-car"></i></h1>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for cat, msg in messages %}
    <div class="container text-center">
        <h3 class="alert alert-{{ cat }}">Selling Price: {{ msg[0] }}</h3>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="post" class="container-fluid text-center" style="width:200px">
        <div class="form-group">
            <label>Present Price: </label>
            <input class="form-control" name="present_price" type="text" required>
        </div>


        <div class="form-group">
            <label>Previous Owner: </label>
            <input class="form-control" name="prev_owner" type="text" required>
        </div>


        <div class="form-group">
            <label>Years Used: </label>
            <input class="form-control" name="year_used" type="text" required>
        </div>


        <div class="form-group">
            <label>Transmission: </label>
            <input class="form-control" name="transmission" list="transmission" required>
            <datalist id="transmission">
                <option value="Manual">
                <option value="Automatic">
            </datalist>
        </div>


        <div class="form-group">
            <label>Fuel Type: </label>
            <input class="form-control" name="fuel_type" list="fuelType" required>
            <datalist id="fuelType">
                <option value="Petrol">
                <option value="Diesel">
            </datalist>
        </div>


        <div class="form-group">
            <label>Selling Through: </label>
            <input class="form-control" name="selling" list="sellerType" required>
            <datalist id="sellerType">
                <option value="Dealer">
                <option value="Individual">
            </datalist>
        </div>


        <div class="form-group">
            <label>KM Driven: </label>
            <input class="form-control" name="km_driven" type="text" required>
        </div>

        <div class="form-group">
            <input type="submit" value="Caculate Price" class="btn bg-success m-4 text-center text-light">
        </div>

    </form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>